@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600');
/*general styles start*/
html body ,header{
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}
.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.container{
    flex-direction: column;
}
.inline-block{
    display: inline-block;
}
/*general styles end*/

/*styles for header start*/ 
.top{
    width: 100%;
    margin-top: 35px;
   
}
.nav-button{
    flex:66.66%;
}
.logo{
    flex:33.33%;
    
}
.logo img{
    margin-left: 50px;
}
.nav li{
   display: inline-block;
   margin-right: 15px;
}
.nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:black;
    margin-left: 20px;

}
.button{
    margin-left: 235px;
	padding: 15px 25px ;
    border: 1px solid #FFF;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}
/*styles for header end*/

/*styles for introduse section start*/
h1{
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 60px;  
}
.light{
    color: grey;
}
.works{
    margin-bottom: 80px;
}
.works li{
    display: inline-block;  
}
.works a{
    text-decoration: none;
    color: black;
   
}
.light a{
    color: gray;
}
/*styles for introduse section end*/

/*styles for main conten start*/
.first-block,.second-block,.third-block,.fourth-block{
    flex: 25%;
}
.first-block-image , .fourth-block-image{
    flex: 45%;
}
.second-block-image{
    flex:33%;
}
.third-block-image{
    flex:100%;
}
.first-block-image,.second-block-image , 
.third-block-image,.fourth-block-image{ 
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 30px;
}
.first-block-image:first-child,.second-block-image:first-child , 
.third-block-image:first-child,.fourth-block-image:first-child{ 
    margin-left: 0px;
}
.first-block-image img,.second-block-image img,
.third-block-image img,.fourth-block-image img{
    width: 100%;
    height: 100%; 
}
.hidden{
    opacity: 0;
}
.first-block-image:hover .hidden,.second-block-image:hover .hidden,
.third-block-image:hover .hidden,.fourth-block-image:hover .hidden{
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute; top: 0; left: 0;
    background: rgba(0,0,0,0.7);
    transition: all 0.5s ease;
    animation: spacing 0.8s ease-in-out  alternate; 
} 
.first-block-image:not(:hover) .hidden,.second-block-image:not(:hover) .hidden,
.third-block-image:not(:hover) .hidden,.fourth-block-image:not(:hover) .hidden{
    transition: all 0.8s ease;
    animation: spacing-reverse 0.8s ease-in-out  alternate; 
}
.hidden .hidden-text{
    position: absolute; 
    bottom: 5%; 
    left: 5%;
}
.hidden .hidden-text a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}
@keyframes spacing{
    from {letter-spacing:20px;}
    to {letter-spacing: 0.5px;}
}
@keyframes spacing-reverse{
    from {letter-spacing:0.5px;}
    to {letter-spacing: 20px;}
}
/*styles for main section end*/

/*styles for footer section start*/

/*styles for footer section end*/